{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 align-self-center">
            <div class="card">
                <div class="card-title">
                    <h3>Django Polls</h3>
                    <div>
                        {% if latest_question_list %}
                        <ul class="list-item-group">
                            {% for question in latest_question_list %}
                            <li class="list-item"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No polls are available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    